<ion-view view-title="">
  <ion-content>

      <div class="row">
        <div class="col s12 m7">
          <div class="card small z-depth-5">
            <div class="card-image">
              <img src="/img/regalo.jpg" height="200" width="2">
              
            </div>
            <div class="card-content">
              <p>¿Quieres poder enviar paquetes en tu ciudad?</p>
            </div>
            <div class="card-action">
              <a href="#/app/registrarRemitente">Registrate como Remitente</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m7">
          <div class="card z-depth-5">
            <div class="card-image">
              <img src="/img/bicicleta.jpg">
              
            </div>
            <div class="card-content">
              <p>¿Quieres poder transportar paquetes para ganar dinero?</p>
            </div>
            <div class="card-action">
              <a href="#/app/registrarCiclista">Registrate como Ciclista</a>
            </div>
          </div>
        </div>
      </div>




  </ion-content>
</ion-view>